rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // PÚBLICO: Ver imágenes
      allow read: if true;
      
      // PRIVADO: Subir/Borrar imágenes
      allow write: if false;
    }
  }
}